body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.footerComment {
    position: absolute;
    bottom: 0;
}

.actionLink {
    font-family: Papyrus;
    color: darkblue;
    padding: 4em 2em 5em 2em;
}

.category {
    font-family: Papyrus;
    font-size: 4em;
    font-style: italic;
    padding: 0.3em 5em 0.3em 1em;
}

.subject {
    font-family: Papyrus;
    font-size: 3em;
    padding: 0.2em 4em 0.2em 1em;
}

.discussionThread {
    font-family: Papyrus;
    font-size: 2em;
}

.comment {
    font-family: Papyrus;
    font-size: 1em;
    width: 90%;
    position: relative;
}