@model ForumProject.Models.Category

@{
    ViewBag.Title = "New";
}

<h2>New</h2>

@using (Html.BeginForm(actionName: "New", controllerName: "Category"))
{
    @Html.Label("Name", "Numele categoriei:")
    @Html.TextBox("Name", null, new { @class = "form-control"})
    @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger"})
    <br/>
    <button class="btn btn-success" type="submit">Adauga categorie</button>
}