@model ForumProject.Models.DiscussionThread

<div class="discussionThread">
    <p>@Model.Name</p>
    <div class="footerInfo">
        Thread last modified on @Model.Date, created by @Model.User.UserName
    </div>
</div>